html {
  position: relative;
  min-height: 100%;
}
body {
  height: 100%;
  margin-bottom: 300px;
}

.first {
  height: 100vh;
  min-height: 400px;
  background-size: cover;
  background-image: white;
  background-position: top center;
}

.affix {
  background-color: transparent;
  -webkit-transition: padding 0.2s ease-out;
  -moz-transition: padding 0.2s ease-out;
  -o-transition: padding 0.2s ease-out;
  transition: padding 0.2s ease-out;
}

@media (min-width: 768px) {
  .affix-top {
    /* navbar style at top */
    background-color: transparent;
    border-color: transparent;
    padding: 15px;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    position: fixed;
  }
}

nav .navbar-nav .nav-link,
nav .navbar-brand {
  color: #000;
}

section {
  height: calc(90% - 50px);
  height: 90vh;
}

.nav_font {
  font-family: "Calibri";
  font-style: Calibri;
  font-weight: lighter;
}

.centered_1 {
  color: #054e63;
  font-family: "Calibri";
  font-style: Calibri;
  font-weight: lighter;
  /* transform: translate(-50%, -50%); */
}

.centered_1_1 {
  color: #054e63;
  font-size: 20px;
  font-family: "Calibri";
  font-style: Calibri;
  font-weight: lighter;
  /* transform: translate(-50%, -50%); */
}

.centered_about_1 {
  color: #000000;
  font-size: 20px;
  top: 30%;
  font-family: "Calibri";
  font-style: Calibri;
  font-weight: lighter;
  /* transform: translate(-50%, -50%); */
}
/* 

responsive font size */
h1 {
  font-size: 1.5rem;
}
h2 {
  font-size: 0.8rem;
}
h3 {
  font-size: 0.8rem;
}
h4 {
  font-size: 0.75rem;
}

@media (min-width: 544px) {
  h1 {
    font-size: 1.5rem;
  }
  h2 {
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.85rem;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 2.5rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.85rem;
  }
}

@media (min-width: 992px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1rem;
  }
}

@media (min-width: 1200px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1rem;
  }
}

@media (min-width: 1680px) {
  h1 {
    font-size: 3rem;
  }
  h2 {
    font-size: 2rem;
  }
  h3 {
    font-size: 1.3rem;
  }
  h4 {
    font-size: 1rem;
  }
}

.gradient {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgba(4, 195, 187, 1)),
    to(rgb(77, 168, 115))
  );
}

.gradient_2 {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(77, 168, 115)),
    to(rgb(22, 22, 22))
  );
}
.gradient_about_1 {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(139, 189, 73)),
    to(rgb(139, 189, 73))
  );
}
.gradient_about_2 {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(139, 189, 73)),
    to(rgb(215, 229, 188))
  );
}

.gradient_about_3 {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(215, 229, 188)),
    to(rgb(235, 236, 131))
  );
}
.gradient_projects_1 {
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(rgb(151, 116, 155)),
    to(rgb(218, 218, 218))
  );
}

.button-shadow--16dp {
  box-shadow: 0 16px 24px 2px rgba(0, 0, 0, 0.18),
    0 6px 30px 5px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(0, 0, 0, 0.2);
}

div.card {
  width: 100%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background: #04c3bb;
  /* background-image: -webkit-gradient(linear, left top, left bottom, to(rgba(4,195,187,0.5)), from(rgba(5, 78, 99,1.0))); */
}

div.card_1 {
  width: 100%;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
  text-align: center;
  background: transparent;
  /* background-image: -webkit-gradient(linear, left top, left bottom, to(rgba(4,195,187,0.5)), from(rgba(5, 78, 99,1.0))); */
}
div.card_about {
  width: 100%;
  box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background: #000000;
  /* background-image: -webkit-gradient(linear, left top, left bottom, to(rgba(4,195,187,0.5)), from(rgba(5, 78, 99,1.0))); */
}

div.card_projects {
  width: 100%;
  box-shadow: 0 8px 8px 2px rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  background: #000000;
  /* background-image: -webkit-gradient(linear, left top, left bottom, to(rgba(4,195,187,0.5)), from(rgba(5, 78, 99,1.0))); */
}

/* footer */

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 300px;
}

/* Taller footer on small screens */
@media (max-width: 34em) {
  body {
    margin-bottom: 500px;
  }
  .footer {
    height: 500px;
  }
}

/* Sticky footer style and color
-------------------------------------------------- */
footer {
  padding-top: 40px;
  background-color: #131312;
  color: rgb(150, 148, 148);
}

footer a {
  color: rgb(82, 81, 81);
  text-decoration: none;
}

footer a:hover,
footer a:focus {
  color: rgb(97, 96, 96);
  text-decoration: none;
  border-bottom: 1px dotted #999;
}

footer .form-control {
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  color: #6f7070;
  padding: 0.7em 1em;
}

/* End of Sticky footer style and color */

/* Fliping the profile card */
